<div>
	<video 
		poster="assets/img/bg-mobile-fallback.jpg" 
		id="bgvid" playsinline autoplay muted loop>
		<source src="assets/mp4/bg.mp4" type="video/mp4">
		<source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
		<source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
	</video>
	
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-md-6" id="intro-pane">
	     	<h1 class="display-1">Samuel Castle</h1>
	     	<h4 class="display-4">A middleware engineer pushing the limmits </h4>
			<br>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta dictum turpis, eu mollis justo gravida ac. Proin non eros blandit, rutrum est a, cursus quam. Nam ultricies, velit ac suscipit vehicula, turpis eros sollicitudin lacus, at convallis mauris magna non justo. Etiam et suscipit elit. Morbi eu ornare nulla, sit amet ornare est. Sed vehicula ipsum a mattis dapibus. Etiam volutpat vel enim at auctor. Aenean pharetra convallis pellentesque. Vestibulum et metus lectus. Nunc consectetur, ipsum in viverra eleifend, erat erat ultricies felis, at ultricies mi massa eu ligula. Suspendisse in justo dapibus metus sollicitudin ultrices id sed nisl.</p>
			<button mat-raised-button color="accent" >LinkedIn</button>
			<button mat-raised-button color="accent" >Twitter</button>
			<button mat-raised-button color="accent" >Medium</button>
	    </div>
	    <div class="col-md-6">
	      
	    </div>
	  </div>
	</div>

    <!--
    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>-->

</div>